IapExample/
.idea/
gen/
node_modules/
android/react-native-iap.iml
android/android.iml
tsconfig.tsbuildinfo
*.ts
*.tsx
!*.d.ts
tsconfig.json
react-native-iap-*.tgz
.vscode/
docs/
.github/
*.md
.eslintrc.js
.eslintignore
.prettierrc.js
.gitattributes
.yarn/cache
package/
plugin/src
plugin/jest.config.js
plugin/tsconfig.json
