name: CI / Example iOS

on:
  push:
    branches: [main, next]
    paths:
      - 'src/**'
      - 'ios/**'
      - 'IapExample/ios/**'
      - .github/ci-example-ios.yml

  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - 'src/**'
      - 'ios/**'
      - 'IapExample/ios/**'
      - .github/ci-example-ios.yml

jobs:
  build_ios_example:
    runs-on: macos-latest
    env:
      NO_FLIPPER: 1

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --immutable

      - name: Install dependencies for `IapExample/`
        run: yarn install --immutable
        working-directory: IapExample

      - name: Restore buildcache
        uses: mikehardy/buildcache-action@v2
        continue-on-error: true
        with:
          cache_key: ${{ runner.os }}-buildcache-${{ hashFiles('**/Podfile.lock') }}-${{ hashFiles('**/Podfile')}}

      - name: Setup Ruby (bundle)
        uses: ruby/setup-ruby@v1
        with:
          working-directory: IapExample
          bundler-cache: true
          ruby-version: '2.7'

      - name: SwiftLint
        run: swiftlint lint --fix --format --path ios/*.swift --config .swiftlint.yml

      - name: Verify no files have changed after auto-fix
        run: git diff --exit-code HEAD '*.swift'

      - name: Restore Pods cache
        uses: actions/cache@v4
        with:
          path: |
            IapExample/ios/Pods
            ~/Library/Caches/CocoaPods
            ~/.cocoapods
          key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock')}}-${{ hashFiles('**/Podfile')}}
          restore-keys: ${{ runner.os }}-pods-

      - name: Install Pods
        run: bundle exec pod install
        working-directory: IapExample/ios

      - name: Install xcpretty
        run: gem install xcpretty
        working-directory: IapExample/ios

      - name: Build App
        uses: sersoft-gmbh/xcodebuild-action@v3
        with:
          workspace: IapExample/ios/IapExample.xcworkspace
          scheme: IapExample
          sdk: iphonesimulator
          destination: 'platform=iOS Simulator,name=iPhone 14'
          action: build CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO
