name: CI

on:
  push:
    branches: [master]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install modules
      run: yarn

    - name: Build typescript & flow
      run: yarn build

    - name: Run Validation steps including Linting and Unit Tests
      run: yarn validate

  build_android:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: '11'
    - name: Grant execute permission for gradlew
      run: chmod +x android/gradlew
    - name: Build with Library with Gradle and check lints
      run: cd android;./gradlew build test
  
  build_android_example:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup kernel for react native, increase watchers
      run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: '11'
    - name: Install base modules
      run: yarn; yarn build
    - name: Install modules
      run: cd IapExample;yarn
    - name: Grant execute permission for gradlew in example app
      run: chmod +x IapExample/android/gradlew
    - name: Build with example app with Gradle
      run: cd IapExample/android;./gradlew build test
