name: Publish / Package

on:
  release:
    branches: [main]
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --immutable

      - name: Build typescript
        run: yarn lint:ci

      - name: Verify no files have changed after auto-fix
        run: git diff --exit-code HEAD

      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
